@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

header{
    background-color: hsl(37, 100%, 90%);
}

.NavContainer {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    text-decoration: none;
}

.Logo {
    height: 115px;
    width: 115px;
    padding-top: 33px;
}

.NavOptions ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    text-decoration: none;
    list-style: none;
    position: relative;
    top: -20px;
}

.NavOptions ul li a {
    text-decoration: none;
}

.NavOptions ul li a h1{
    font-family: "FunnelSans-ExtraBold";
    font-size: 18px;
    color: #6B4D08;
}

/* Main */

main{
    background-image: url(../ASSETS/IMG/Taberna.jpg);
    background-size: cover;
    height: 720px;
}

h1 {
    font-family: "FunnelSans-Bold";
    font-size: 42px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 110px;
    align-items: center;
    justify-content: center;
  }
  .card {
    background-color: #33200F;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    width: 250px;

  }
  .card h3 {
    margin: 10px 0 5px;
    font-family: "FunnelSans-Medium";
    font-size: 20px;
    color: #ffffff;
  }
  .card p {
    margin: 3px 0;
    color: #ffffff;
    font-family: "FunnelSans-Regular";
    font-size: 16px;
  }

  .card ul {
    list-style: none;
    margin-top: 10px;
    background: #33200F;
    border-radius: 5px;
    padding: 8px;
    font-size: 0.95rem;
    color: #ffffff;
    font-family: "FunnelSans-Regular";
    font-size: 16px;
  }
  
  .card ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .card ul li:last-child {
    border-bottom: none;
  }

/* Footer */

footer{
    height: 45px;
    background-color: hsl(37, 100%, 90%);
  }
  footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    color: #6B4D08;
  }